.allitems {
  width: 80%;
  display: inline-block;
}

.search-container {
  width: 100%;
  text-align: center;
}

.nav-container {
  width: 80%;
  text-align: center;
  background-color: rebeccapurple;
}
