.allitems {
  width: 70%;
  display: inline-block;
}

.search-container {
  display: inline-block;
  width: 30%;
  position: fixed;
}

.search-and-items {
  width: 100%;
}

.allItem-render {
  margin-top: 40px;
  text-align: center;
}
