.button-add-cart {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 10px 400px;
  cursor: pointer;
}

ul {
  list-style: none;
  text-align: center;
}

img {
  width: 25%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
