.card {
  font-size: calc(0.5em + 1vw);
  margin: 10%;
  min-width: 320px;
}

.watch-primary-info {
  display: flex;
  align-items: center;
}

.image {
  height: calc(12em + 1vw);
  width: auto;
}

p {
  position: relative;
  max-width: auto;
  font-size: calc(0.15em + 1vw);
  margin-left: 10%;
}

.price-buy {
  position: relative;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary-info-text {
  position: relative;
}

.watch-title {
  font-weight: 1000;
  position: relative;
  margin: 2%;
}

.price-title {
  font-style: oblique;
  font-weight: 10;
}

.watch-secondary-info {
}

.secondary-info-list {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(0.25em + 1vw);
  justify-content: space-evenly;
  right: 7%;
}

.list-obj {
  display: flex;
  white-space: nowrap;
  width: auto;
  font-size: calc(0.25em + 1vw);
}

.moreinfo-title {
  white-space: nowrap;
  border-right: solid transparent 40px;
}

.list1 {
  border-right: solid transparent 10px;
}

.list2 {
  position: relative;
  left: 5%;
}
