.card {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc(0.5em + 1vw);
}

.watch-primary-info {
  display: flex;
  min-width: 320px;
}

.image {
  border: 10px solid transparent;
  min-width: 15em;
  max-height: 15em;
  height: auto;
}

p {
  max-height: 80px;
  font-size: calc(0.5em + 1vw);
}

.price-buy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary-info-text {
}

.watch-secondary-info {
  position: relative;
  right: -10px;
  bottom: 20px;
  font-size: calc(0.5em + 1vw);
}
