button {
  float: left;
  color: #333;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #f75151;
  border: none;
  font-style: normal;
  color: white;
}

button:hover {
  color: white;
  background-color: #ff5656;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.right-nav {
  width: 25%;
  /* border: 1px solid red; */
  margin-right: 10px;
  float: right;
  text-align: center;
}

.left-nav {
  width: 25%;
  /* border: 1px solid red; */
  margin-right: 10px;
  float: left;
}

.center-nav {
  width: 40%;
  /* border: 1px solid red; */
  margin-right: 10px;
  float: left;
}

.topnav {
  overflow: hidden;
  background-color: #f75151;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  width: 100;
  height: auto;
}

.topnav .nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .nav-link:hover {
  color: white;
  background-color: #ff5656;
  border-color: #ff5656;
}
