button {
  float: left;
  color: #333;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #f5f5f5;
  border: none;
  font-style: normal;
}

button:hover {
  color: white;
  background-color: #f75151;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.right {
  float: "right";
}

.topnav {
  overflow: hidden;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.topnav .nav-link {
  float: left;
  color: #333;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .nav-link:hover {
  color: white;
  background-color: #f75151;
  border-color: #f75151;
}
