/* newItem Form CSS */
a {
  text-decoration: none;
}

.newItem-header {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

#container-newItem {
  font-family: "Open Sans", sans-serif;
  margin: 35px auto;
  max-width: 400px;
  padding: 20px;
}

.form-wrap-newItem {
  background: #fff;
  border: 1px solid #bbb;
  padding: 30px 25px;
  color: #333;
}

.form-wrap-newItem h1,
.form-wrap-newItem p {
  text-align: center;
}

.form-wrap-newItem .form-group-newItem {
  margin-top: 10px;
}

.form-wrap-newItem .form-group-newItem input[type="text"] {
  width: 100%;
  padding: 10px;
  border: rgba(221, 221, 221, 0.616) 1px solid;
  border-radius: 5px;
}

.form-wrap-newItem .form-group-newItem input[type="text"]:hover {
  border: rgba(119, 118, 118, 0.548) 1px solid;
}

.form-wrap-newItem .form-group-newItem input[type="text"]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;
}

.form-wrap-newItem .form-group-newItem input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #f75151;
  border-color: #f75151;
}
.form-wrap-newItem .form-group-newItem input[type="submit"]:hover {
  background-color: #ff5656;
  border-color: #ff5656;
}

.form-wrap-newItem .form-group-newItem textarea {
  width: 100%;
  padding: 10px;
  border: rgba(221, 221, 221, 0.616) 1px solid;
  border-radius: 5px;
}
.form-wrap-newItem .form-group-newItem textarea:hover {
  border: rgba(119, 118, 118, 0.548) 1px solid;
}

.form-wrap-newItem .form-group-newItem textarea:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;
}

.border-textarea {
  border-bottom: rgba(119, 118, 118, 0.548) 1px solid;
}

.create-account-link {
  text-align: center;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.form-group-newItem select {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: grey;
  margin: 0px;
  width: 100%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  appearance: none;
  background-color: white;
}

.form-group-newItem select {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  color: grey;
  margin: 0px;
  width: 100%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: #ddd 1px solid;
  height: 34px;
  appearance: none;
  background-color: white;
}
.form-group-newItem select:hover {
  border: rgba(119, 118, 118, 0.548) 1px solid;
}

.form-group-newItem select:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: grey;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: #ddd 1px solid;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.custom-file-upload:hover {
  color: rgb(88, 88, 88);
  border: rgba(119, 118, 118, 0.548) 1px solid;
}

.image-uploaded-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 10px;
}
