/* .search-bar-container {
  text-align: center;
  width: 100%;
  margin-top: 150px;
} */

.search-bar-container {
  text-align: center;
  width: 100%;
  /* margin-top: 120px; */
}

.search-bar {
  display: inline-block;
  width: 100%;
  padding-top: 4px;
}

.search-bar input[type="text"] {
  width: 100%;
  float: left;
  padding: 10px;
  border: rgba(221, 221, 221, 0.616) 1px solid;
  border-radius: 5px;
  height: 40px;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.search-bar input[type="text"]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;
}

.search-bar input[type="text"]:hover {
  border: rgba(119, 118, 118, 0.548) 1px solid;
}
.fa-search {
  position: relative;
  bottom: 3px;
  height: 20px;
}
.search-bar button {
  margin-left: -11%;
  margin-top: 1px;
  padding-top: -5px;
  margin-bottom: 10px;
  height: 20px;
  padding-bottom: 10px;
  margin-right: 2px;
  width: 10%;
  background-color: #fff;
  color: rgba(221, 221, 221, 0.616);
  border: none;
}

.search-bar input[type="text"]:hover ~ .submit-search {
  color: rgba(119, 118, 118, 0.548);
}

.search-bar input[type="text"]:focus ~ .submit-search {
  color: rgba(119, 118, 118, 0.548);
}
